@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {

    box-sizing: border-box;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#cockpit {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    background-color: #efefef;

}

/* | Cockpit navigation:   */

.Navigation {
    width: max-content;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: start;

    box-shadow: 1px 1px 5px #2d2d2d;

    margin-right: 1rem;

}

/* rETURN KEEPS arrow that allows user to back to shop.*/
.Return {
    padding: 1rem;
    width: 100%;
}


/* Navigation user avatar */

.Navigation .User-Avatar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;

    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 1rem auto 3rem auto;

}

/* Navigation menu: */

.Menu {
    display: flex;
    flex-direction: column;

    width: max-content;
    padding: 3rem 0;
}

.Menu-Option {
    width: 100%;
    padding: 1rem 2rem;
    border-left: 5px solid white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Menu-Option:hover {
    border-left: 5px solid black;
    cursor: pointer;
}

.Menu-Option:hover > * {
    cursor: pointer;
}

.Menu-Option button {
    background-color: transparent;
    border: none;
    outline: none;
}


/* | Cockpit panel: */

#panel {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 400px) {

    .Menu {
        flex-direction: row;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .Menu button {
        display: none;
    }

    .Menu-Option {
        border: none;
    }

    .Menu-Option:hover{
        border: none;
    }

    .Menu i {
        color: grey;
    }

    #cockpit {
        display: flex;
        flex-direction: column-reverse;
    }

    .Navigation {
        flex-direction: row;
        height: min-content;
        width: 100%;
        align-items: center;
    }

    .Navigation .User-Avatar {
        margin: 0;
        transform: scale(0.5);
        display: none;
    }


}



