/* Every style must be preceded by .Dashboard class */


.Dashboard {

}

@media only screen and (max-width: 400px) {


    .Dashboard {
        padding: 2rem;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .Dashboard #avatar {
        width: 4rem;
        height: 4rem;

        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 2rem;
        font-weight: 500;
    }



}
