@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {

    --almost-black: #2d2d2d;

    box-sizing: border-box;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;


}

body {
    height: 100vh;
    display: flex;
}

nav {
    height: 100%;
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: start;

    box-shadow: 1px 1px 5px black;
}


h1 {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1rem 0 2rem 0;
}

nav div {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-left: 3px solid white;

    transition: 200ms;
    transition-timing-function: ease-in;
    transition-property: all;

    width: 100%;
}

.Option:hover {
    border-left: 3px solid black;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

i:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.Option > * {
    color: #8d8d8d;
    font-weight: 500;

    transition: 300ms;
    transition-timing-function: ease-in;
    transition-property: all;

}

.Option {
    padding: 1.5rem 2rem;

}

.Option:hover > * {
    color: black;
}

main {
    height: 100%;
    width: 100%;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;

}


.Photo-Input {
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    position: absolute;
    opacity: 0;

    cursor: pointer;
    z-index: 1;
}

.Photo-Field {
    position: relative;
    width: 10rem;
    height: 15rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Photo-Field i {
    position: absolute;
    z-index: 0;
}

.Photo-Label {
    display: inline-block;
    cursor: pointer;

    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;
}

.Add-Photo-Alternate {
    position: absolute;
    transform: scale(2);
    color: #d2d2d2;
    z-index: 0;

    transition: 0.5s;
    transition-timing-function: ease-in;
    transition-property: all;

}

.Photo-Field:hover .Add-Photo-Alternate {
    color: black;
}

.Photo-Inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Contains file input and label: */
.Photo-Field {
    min-width: 10rem;
    min-height: 15rem;

    margin: 1rem 1rem 0 0;
}

.Photo-Field:last-child {
    margin-right: 0;
}

/* Form: */
form {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    max-width: fit-content;
}

/* Map: */
#map {
    min-width: 15rem;
    min-height: 15rem;
    margin: 0 1rem;
}

/* Contains map, title input and textarea:  */
.Form-Info-Panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;

    margin: 1rem 0;
}

/* Contains title input and textarea: */
.Form-Text-Inputs {
    padding-right: 1rem;
    width: 15rem;

}

.Title-Field {
    width: 15rem;
    background-color: pink;
}

.Title-Field input {
    width: 100%;
    padding: 0.4rem 1rem;
    outline: none;
    border: 1px solid black;
}

/* Text-area: */
.Description {
    resize: none;
    width: 15rem;

    padding: 0.4rem 1rem;
    margin: 1rem 0;

    outline: none;
    border: 1px solid black;
}

form > div:last-child {
    background-color: red;
    text-align: center;
    padding: 0.4rem 1rem;
}