/* Every style must be preceded by .Dashboard class */

* {
    font-size: 20px;
}


.Dashboard #avatar {
    margin: 1rem 0;

    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    font-weight: 500;
}


@media only screen and (max-width: 400px) {


    .Dashboard {
        padding: 2rem;

        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .Dashboard .Greeting {
    }

    .Dashboard .Greeting p {
        font-size: 1.5rem;
    }


}

@media only screen and (min-width: 400px) {
    .Dashboard #avatar {
        width: 10rem;
        height: 10rem;

        font-size: 4rem;
        grid-area: avatar;
        align-self: center;
        justify-self: center;
    }

    .Dashboard .Greeting {
        grid-area: avatar;
        align-self: end;
        justify-self: center;
    }

    .Greeting p{
        font-size: 2.5rem;

    }

    .Dashboard {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "avatar ." ". .";
    }


}