
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;

    color: var(--almost-black);

}

/* Phones: */
@media only screen and (max-width: 400px) {

    body {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }

    main {
        width: 100%;
        height: 100%;
    }

    #upload-form-header {
        font-size: 2rem;
        font-weight: 500;

        margin: 3rem 0 4rem 0;
    }

    form {
        text-align: center;
        padding: 0 1rem;
        width: 100%;
        margin: 1rem auto 0 auto;
    }

    form input[type='submit'] {
        display: none;
    }

    #map {
        height: 15rem;
        width: 90%;

        display: none;
    }

    .Title-Wrapper {
        width: 100%;
        margin: 1rem 0;
    }

    .Title-Wrapper input {
        width: 100%;
        padding: 0.4rem 1rem;
        outline: none;

    }

    .Description-Wrapper {
        width: 100%;
        margin: 1rem 0;
    }

    .Description-Wrapper textarea {
        width: 100%;
        height: 10rem;
        padding: 0.7rem 1rem;
        outline: none;
    }


    .error_outline {
        color: red;
        visibility: hidden;
        position: absolute;
        right: 1rem;
        display: inline-block;
    }

    #top-menu {
        width: 100%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
    }

    #next {
        background-color: #2d2d2d;
        padding: 0.4rem 2rem;
        color: white;
        outline: none;
        border: none;
        box-shadow: 1px 1px 5px #2d2d2d;
    }

    #next-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 2rem;
    }
}

/* Tablets: */
@media only screen and (min-width: 600px) {

}

/* Desktop: */
@media only screen and (min-width: 1280px) {

    .upload #next {
        display: none;
    }

    .upload #close {
        display: none;
    }

    nav{
        display: inline-block;
    }

}

